In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('/Users/sakshamwane/Desktop/LetsUpgrade-AI-ML/Day 11/general_data.csv')

In [3]:
dataset.shape

(4410, 24)

In [4]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

__Checking NULL values__

In [5]:
dataset.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

__Dropping NULL values__

In [6]:
dataset = dataset.dropna()

In [7]:
dataset.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

No NULL values are present now

__Checking duplicate values__

In [8]:
dataset.duplicated().sum()

0

__Dropping duplicate values__

In [9]:
dataset.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

No duplicate values remaining

__Checking Info__

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   int64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   EmployeeCount            4382 non-null   int64
 8   EmployeeID               4382 non-null   int64
 9   Gender                   4382 non-null   object
 10  JobLevel                 4382 non-null   int64
 11  JobRole                  4382 non-null   object
 12  MaritalStatus            4382 non-null   object
 13  MonthlyIncome            4382 non-null   int64
 14  NumCompaniesWorked       4382 non-null   float64
 15  Over18                   4382 non-null   object
 16  PercentSalaryHike        4382 non-null   int64
 17  StandardHours            4382 non-null   int64
 18  StockOptionLevel         4382 non-null   int64
 19  TotalWorkingYears        4382 non-null   float64
 20  TrainingTimesLastYear    4382 non-null   int64
 21  YearsAtCompany           4382 non-null   int64
 22  YearsSinceLastPromotion  4382 non-null   int64
 23  YearsWithCurrManager     4382 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 855.9+ KB

__Converting Attrition to binary__

In [11]:
from sklearn import preprocessing

In [12]:
LabelEncoder = preprocessing.LabelBinarizer()

In [13]:
dataset['Attrition'] = LabelEncoder.fit_transform(dataset['Attrition'])

In [14]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

__Importing required package for correlation analysis__

In [15]:
from scipy.stats import pearsonr

__Checking Correlation between Attrition and Distance from Home__

In [18]:
stats, p=pearsonr(dataset['Attrition'], dataset['DistanceFromHome'])
print(stats, p)

-0.009448638515156243 0.5317715668019558

 - Here p value is greater then 0.05
 - So Null hypothesis is accepted
 - There is no signinficant correlation between Attrition and Distance from home

__Checking Correlation between Attrition and Education__

In [19]:
stats, p=pearsonr(dataset['Attrition'], dataset['Education'])
print(stats, p)

-0.017106307050278734 0.25757539308157945

 - Here p value is greater then 0.05
 - So Null hypothesis is accepted
 - There is no signinficant correlation between Attrition and  Education

__Checking Correlation between Attrition and Employee ID__

In [20]:
stats, p=pearsonr(dataset['Attrition'], dataset['EmployeeID'])
print(stats, p)

-0.004620541850379516 0.7597730060918658

 - Here p value is greater then 0.05
 - So Null hypothesis is accepted
 - There is no signinficant correlation between Attrition and  Employee ID

__Checking Correlation between Attrition and Number of companies worked__

In [25]:
stats, p=pearsonr(dataset['Attrition'], dataset['NumCompaniesWorked'])
print(stats, p)

0.04283056724472088 0.004572057121620842

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hytpothesis is accepted
 - There is a signinficant correlation between Attrition and  Number of companies worked

__Checking Correlation between Attrition and Number of Percentage salary hike__

In [26]:
stats, p=pearsonr(dataset['Attrition'], dataset['PercentSalaryHike'])
print(stats, p)

0.03315303713546665 0.028192446935106235

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accepted
 - There is a signinficant correlation between Attrition and  Percentage salary hike

__Checking Correlation between Attrition and Number of Stock option Level__

In [24]:
stats, p=pearsonr(dataset['Attrition'], dataset['StockOptionLevel'])
print(stats, p)

-0.008164026684984326 0.588999635831226

 - Here p value is greater then 0.05
 - So Null hypothesis is accepted
 - There is no signinficant correlation between Attrition and  Stock option level

__Checking Correlation between Attrition and Total working years__

In [27]:
stats, p=pearsonr(dataset['Attrition'], dataset['TotalWorkingYears'])
print(stats, p)

-0.1696699168472392 1.1645434967091854e-29

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accpted
 - There is a signinficant correlation between Attrition and  Total working year

__Checking Correlation between Attrition and Traning times last year__

In [28]:
stats, p=pearsonr(dataset['Attrition'], dataset['TrainingTimesLastYear'])
print(stats, p)

-0.04758573693081737 0.0016276603635477602

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accepted
 - There is a signinficant correlation between Attrition and  Traning time last year

__Checking Correlation between Attrition and Years at company__

In [29]:
stats, p=pearsonr(dataset['Attrition'], dataset['YearsAtCompany'])
print(stats, p)

-0.13300261842521544 9.476118084836507e-19

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accepted
 - There is a signinficant correlation between Attrition and  Years at company

__Checking Correlation between Attrition and Years since last promotion__

In [30]:
stats, p=pearsonr(dataset['Attrition'], dataset['YearsSinceLastPromotion'])
print(stats, p)

-0.03142315056330995 0.03752293607395154

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accepted
 - There is a signinficant correlation between Attrition and  Years since last promotion

__Checking Correlation between Attrition and Years with current manager__

In [31]:
stats, p=pearsonr(dataset['Attrition'], dataset['YearsWithCurrManager'])
print(stats, p)

-0.15469153690287274 7.105369646771178e-25

 - Here p value is smaller then 0.05
 - So Null hypothesis is rejected and alternative hypothesis is accepted
 - There is a signinficant correlation between Attrition and  Years with current manager

__Creating Correlation Matrix__

In [32]:
dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition,-0.158399,1.000000,-0.009449,-0.017106,NaN,-0.004621,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.004621,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000